.font-secondary {
  font-family: 'DM Serif Display', serif;
}

.footer-content {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width:576px) {
  .icon {
    display: none !important;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
  }
}